## Sauce Labs Credentials
browserprofile.testEnvironment.saucelabs.url = https://ondemand.saucelabs.com:443/wd/hub
browserprofile.testEnvironment.saucelabs.username = 
browserprofile.testEnvironment.saucelabs.password = 